.carousel-wrapper {
    width: 100%;
    .carousel-slides-styles {
        display: flex;
        transition: all .3s ease-out;
    }
    .carousel-window-styles {
        overflow: hidden;
    }
    .carousel-dots {
        display: flex;
        gap: 5px;
        justify-content: center;
        padding: 5px 0px; 
        .carousel-navigation-dot {
            height: 10px;
            width: 10px;
            background-color: var(--gray);
            border-radius: 50%;
            cursor: pointer;
            &.selected {
                background-color: var(--text-dark);
                
            }
        }
    }
}
