:root {
    --text-dark: #274d87;
    --text-gray: #5e718e;
    --color-primary: #c0a5ef;
    --color-accent: #2cc6cf;
    --color-accent-hover: #1ea3aa;
    --page-move-delay: 1.3s;
    --exit-animation-duration: 0.3s;
    --bounce-transition: all var(--page-move-delay)
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --exit-transition: all var(--exit-animation-duration) linear;
    --gray: #d3d3d3;
    --medium-gray: #a9a9a9;
    --dark-gray: #696969;
  }
  .card-primary {
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    max-width: 370px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .card-title {
       font-weight: 500; 
       margin: 0;
    }
    .card-description {
        font-weight: 300;
        font-size: 12px;
        margin: 0;
    }
  }
  .link-btn-primary {
    display: block;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s ease-out;
    line-height: 0;
    &:hover {
        background-color: var(--text-dark);
        color: white;
    }
    
  }
  .link-btn-secondary {
    display: block;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s ease-out;
    line-height: 0;
    &:hover {
        background-color: var(--text-dark);
        color: white;
    }
  }
  .glass-background {
    // background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  .glass-background-white {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
  .glass-background-white-dense {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }